.quote-section{
    color: #ffffff;
    background-color: #1f1f1f;
    padding: 3dvw;
    padding-bottom: 0;
    padding-left: 8dvw;
    height: 150dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.q-head{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
    width: 30dvw;
}
.q-head p{
    margin-top: 10px;
    font-family: 'Space Grotesk', monospace;
    font-size: 38px;
}
.q-btn{
    background-color: #f0f0f0;
    color:#272727;
    font-size: 15px;
    width: fit-content;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.quote-sec{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;
    margin: 0;

}
.quote-left, .quote-right{
    padding: 1em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-left img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    transform: translateY(-8dvh);
}
.quote-right form{
    padding: 1dvw;
    width: 100%;
    height: 100%;
}
fieldset{
    border: #fff 2px solid;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 15px;
    padding-left: 3dvw;
}
legend{
    font-size: 24px;
    font-family: 'Space Grotesk', monospace;
    font-weight: bold;
}
.name{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}
.name .form-control input, textarea{
    background-color:#1f1f1f ;
}
.name .form-control input:focus,textarea:focus,textarea:valid, .name .form-control input:valid{
    background-color: transparent; 
}
.form-control{
    position: relative;
    margin: 20px 0 ;
}
.form-control input{
    background-color: transparent;
    border: none;
    border-bottom: #eee 1px solid;
    display: block;
    width: 90%;
    color: #eee;
    padding: 15px 5px;
    font-size: 16px;
    width: 240px;
}
textarea{
    background-color: transparent;
    border: 1px #a3a3a3 groove;
    width: 350px;
    height: 100px;
    border-radius: 5px;
    color: #fff;
}
.form-control input:focus,textarea:focus,textarea:valid, .form-control input:valid{
    outline: none;
    background-color: inherit;
}
.message{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
    padding-bottom: 1em;
    
}
.message label{
    font-size: 18px;
}
.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
    color: #e4e4e4;
}
.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.4s cubic-bezier(0.715, -0.610, 0.355, 1.6);
}
.form-control input:focus + label span, .form-control input:valid  + label span{
    color: #a3a3a3;
    transform: translateY(-30px);
}
.form-btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    padding: 15px;
    font-size: 18px;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}
.form-btn:focus,.form-btn:hover {
    outline: none;
    background-color: #eee;
}
.form-btn:active{
    transform: scale(0.98);
}
footer{
    position: relative;
    color:#272727;
    background-color:#e3e4e4;
    margin: 0;
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em ;
}
.contact-btn{
    position: absolute;
    left: 8em;
    top: 15dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.contact-btn .comp-btn{
    color: #e3e7e6;
    background-color:#272727;
}
.contact-btn p{
    font-family: 'Space Grotesk', monospace;
    font-size: 35px;
}
.contact-info a{
    color: #176280;
}
.f-logo{
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
}
.contact-info, .socials{
    transform: translate(-10em,-2.5em);
}
.socials a{
    text-decoration: none;
    color:#176280 ;
}